<div class="movie-container">
  <h2 class="title">Popular Movies</h2>

  <div class="movie-grid">
    <div class="movie-card" *ngFor="let movie of movies">
      
      <img
        class="movie-poster"
        [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
        [alt]="movie.original_title"
      />

      <div class="movie-info">
        <h3>{{ movie.original_title }}</h3>
        <p class="rating">⭐ {{ movie.vote_average }}</p>
        <p class="overview">
          {{ movie.overview | slice:0:100 }}...
        </p>

        <div class="movie-actions">
          <button class="details-btn" [routerLink]="['/movies', movie.id]">
            View Details
          </button>
          <button class="fav-btn" [ngClass]="isFavorited(movie.id) ? 'added' : ''" (click)="addToFavorites(movie)" [disabled]="isFavorited(movie.id)">
            <span *ngIf="!isFavorited(movie.id)">❤️ Add</span>
            <span *ngIf="isFavorited(movie.id)">✅ Added</span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>